*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    margin-bottom: 0.8rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.formContainer {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 6px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    padding: 1.2rem;
    width: 100%; /* Asegura que ocupe el 100% del espacio disponible en su contenedor */
    min-width: 20rem;
    margin-bottom: 2rem;
}

.formContainer:last-of-type {
    margin-bottom: 0;
}


.error-message {
    color: #dc3545;
    margin-top: 0.4rem;
    font-size: 0.7rem;
}

.success-message {
    color: #28a745;
    margin-top: 0.5rem;
    font-size: 0.875rem;

}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-size: 1.5rem;
    color: #333;
}

.add-objective-button-container {
    display: flex; /* Convertir en contenedor Flexbox */
    justify-content: flex-end; /* Centrar el contenido horizontalmente */
    align-items: center;
    margin-top: 1.5rem;
    width: 100%;
}

.objetivos-page-content { /* Crea esta nueva regla con el nombre de clase exacto */
    display: flex;
    flex-direction: column; /* <-- Apila los hijos (h2 y tarjetas) verticalmente */
    gap: 1rem;
}