.form-container {
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
}

@media (min-width: 768px) {
    .form-container {
        padding: 1.6rem;
    }
}

.formGroupContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.formGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
}

@media (min-width: 768px) {
    .formGrid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;
    }
}

.formError {
    font-size: 0.7rem;
    color: #ef4444;
}

.dateFieldsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem; /* Espacio entre las fechas cuando están apiladas */
}


@media (min-width: 768px) {
    .dateFieldsGrid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem;
    }
}

