.authPage {
    min-height: 100vh;
    min-width: 100vw;
    --tw-bg-opacity: 1;
    background-color: #f2f2f2;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "main-content";
    padding: 0;
    box-sizing: border-box;
}

.pageHeader {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2rem;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    color: #343a40;

}

.pageHeader .rightContent {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* Espacio entre elementos si hay varios */
}

.userInfo {
    margin-right: 1rem;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}

.mainContentArea {
    grid-area: main-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
}

.formContainer {
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 36rem;
}